*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #202046;
  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-size: 70rem;
  background-position: left bottom;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  text-rendering: optimizeSpeed;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}

.container {
  width: 90%;
  max-width: 130rem;
}
@media (min-width: 1140px) {
  .container {
    display: flex;
    align-items: center;
  }
}

.slider__wrapper-img {
  background-image: url("../images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1140px) {
  .slider__wrapper-img {
    flex: 0 1 240rem;
    padding: 7rem;
  }
}
.slider__wrapper-btns {
  background-color: white;
  border-radius: 5rem;
  margin-top: -2rem;
  padding: 1.2rem 1.5rem;
  display: flex;
  gap: 3rem;
}
@media (min-width: 810px) {
  .slider__wrapper-btns {
    padding: 1.7rem 2rem;
    gap: 4rem;
  }
}
@media (min-width: 1140px) {
  .slider__wrapper-btns {
    align-self: start;
    margin-left: 7rem;
  }
}
.slider__wrapper-text {
  text-align: center;
}
@media (min-width: 1140px) {
  .slider__wrapper-text {
    text-align: left;
    align-self: center;
    margin-right: -21rem;
    padding: 2.5rem 2rem 2rem 10rem;
    flex: 0 1 300rem;
  }
}
@media (min-width: 1140px) {
  .slider__wrapper-info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.slider__wrapper-btns, .slider__wrapper-info {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.slider__wrapper-btns.is-visible, .slider__wrapper-info.is-visible {
  opacity: 1;
  visibility: visible;
}

.slider {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 1140px) {
  .slider {
    margin-top: 5rem;
    flex-direction: row-reverse;
  }
}
.slider__img {
  width: 75%;
  border-radius: 1rem;
  box-shadow: 0 5rem 7rem -5rem #202046;
  margin-top: 2.9rem;
}
@media (min-width: 1140px) {
  .slider__img {
    width: 100%;
    margin-top: 0;
  }
}
.slider__btn {
  background: unset;
  border: 0;
}
.slider__btn-icon {
  width: clamp(1rem, 2vw, 1.3rem);
  transition: all 0.3s;
}
.slider__btn-icon:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.slider__blockquote {
  background-image: url("../images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-size: 6rem;
  background-position: top center;
  font-size: clamp(1.8rem, 4vw, 3.4rem);
  font-weight: 300;
  line-height: 1.3;
  padding: 2.5rem 1rem 2rem 1rem;
}
@media (min-width: 1140px) {
  .slider__blockquote {
    background-size: 12rem;
    background-position: top left 9.5rem;
    padding: 6.5rem 0 0 0;
    margin-bottom: 3.5rem;
  }
}
.slider__name {
  font-size: clamp(1.5rem, 2vw, 2.2rem);
}
.slider__status {
  color: #babacf;
  font-size: clamp(1.5rem, 2vw, 2.2rem);
  font-weight: 500;
}
.slider__img, .slider__blockquote {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.slider__img.is-visible, .slider__blockquote.is-visible {
  opacity: 1;
  visibility: visible;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-block: 1rem;
}
.attribution__link:link, .attribution__link:visited {
  text-transform: uppercase;
  color: #202046;
  transition: all 0.3s;
}
.attribution__link:hover, .attribution__link:active {
  color: #babacf;
}

/*# sourceMappingURL=style.css.map */
