@use './base' as *;

.container {
  width: 90%;
  max-width: 130rem;

  @media (min-width: 1140px) {
    display: flex;
    align-items: center;
  }
}

.slider {
  &__wrapper {
    &-img {
      background: {
        image: url('../images/pattern-bg.svg');
        repeat: no-repeat;
        size: contain;
        position: top center;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (min-width: 1140px) {
        flex: 0 1 240rem;
        padding: 7rem;
      }
    }

    &-btns {
      background-color: $color-secondary--light;
      border-radius: 5rem;
      margin-top: -2rem;
      padding: 1.2rem 1.5rem;
      display: flex;
      gap: 3rem;

      @media (min-width: 810px) {
        padding: 1.7rem 2rem;
        gap: 4rem;
      }

      @media (min-width: 1140px) {
        align-self: start;
        margin-left: 7rem;
      }
    }

    &-text {
      text-align: center;

      @media (min-width: 1140px) {
        text-align: left;
        align-self: center;
        margin-right: -21rem;
        padding: 2.5rem 2rem 2rem 10rem;
        flex: 0 1 300rem;
      }
    }

    &-info {
      @media (min-width: 1140px) {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }

    &-btns,
    &-info {
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;

      &.is-visible {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
